<section>
<a href="https://twitter.com/arresteddevops"><i class="fa fa-twitter-square fa-3x"></i></a>
<a href="https://www.facebook.com/arresteddevops"><i class="fa fa-facebook-square fa-3x"></i></a>
<a href="https://plus.google.com/u/0/b/107360101564256557267/107360101564256557267/posts"><i class="fa fa-google-plus-square fa-3x"></i></a>
<a href="http://www.youtube.com/channel/UCR-hALzuoKC283ioYCec8pg"><i class="fa fa-youtube-square fa-3x"></i></a>
<a href="http://github.com/arresteddevops"><i class="fa fa-github-square fa-3x"></i></a>
<a href="http://feeds.podtrac.com/9R4aYQzOnl4$"><i class="fa fa-rss-square fa-3x"></i></a>



</section>