# ----------------------- #
#      Main Configs       #
# ----------------------- #

url: http://arresteddevops.com/
title: Arrested DevOps
subtitle: The podcast that probably won't destroy your career with bad advice
author: Arrested DevOps
simple_search: http://google.com/search
description: Podcast for DevOps topics, including Configuration Management, cloud computing, Continuous Delivery, and more.

# Default date format is "ordinal" (resulting in "July 22nd 2007")
# You can customize the format as defined in
# http://www.ruby-doc.org/core-1.9.2/Time.html#method-i-strftime
# Additionally, %o will give you the ordinal representation of the day
date_format: "ordinal"

# RSS / Email (optional) subscription links (change if using something like Feedburner)
subscribe_rss: http://feeds.podtrac.com/9R4aYQzOnl4$
subscribe_email:
# RSS feeds can list your email address if you like
email:

# ----------------------- #
#    Jekyll & Plugins     #
# ----------------------- #

# If publishing to a subdirectory as in http://site.com/project set 'root: /project'
root: /
permalink: /:year/:month/:day/:title/
source: source
destination: public
plugins: plugins
code_dir: downloads/code
category_dir: blog/categories
markdown: rdiscount
rdiscount:
  extensions:
    - autolink
    - footnotes
    - smart
pygments: true # default python pygments have been replaced by pygments.rb

paginate: 10          # Posts per page on the blog index
pagination_dir: blog  # Directory base for pagination URLs eg. /blog/page/2/
recent_posts: 5       # Posts in the sidebar Recent Posts section
excerpt_link: "Read on &rarr;"  # "Continue reading" link text at the bottom of excerpted articles

titlecase: true       # Converts page and post titles to titlecase

# list each of the sidebar modules you want to include, in the order you want them to appear.
# To add custom asides, create files in /source/_includes/custom/asides/ and add them to the list like 'custom/asides/custom_aside_name.html'

default_asides:     [custom/asides/social.html,custom/asides/survey.html,asides/recent_posts.html, custom/asides/links.html, custom/asides/stickers.html, asides/github.html, custom/asides/twitter.html]
blog_index_asides:  [custom/asides/social.html,custom/asides/about.html,custom/asides/survey.html, asides/recent_posts.html, custom/asides/links.html, custom/asides/stickers.html, asides/github.html, custom/asides/twitter.html]
post_asides:        [custom/asides/social.html,custom/asides/about.html, custom/asides/survey.html,asides/recent_posts.html, custom/asides/links.html, custom/asides/stickers.html, asides/github.html, custom/asides/twitter.html]
# page_asides:

# Each layout uses the default asides, but they can have their own asides instead. Simply uncomment the lines below
# and add an array with the asides you want to use.
# blog_index_asides:
# post_asides:
# page_asides:

# ----------------------- #
#   3rd Party Settings    #
# ----------------------- #

# Stickers  
stickers_title: "Stuff we dig"

# semantic options

# the site cover, example: /images/teracy_logo.png
cover: /images/ad-grey.png

# for facebook insights
semantic_fb_app_id: 251052875050266

# for facebook insights
semantic_fb_admins: 500557137


# Github repositories
github_user: arresteddevops
github_repo_count: 0
github_show_profile_link: true
github_skip_forks: true

# Twitter
twitter_user: 'arresteddevops'
twitter_tweet_button: true

# Google +1
google_plus_one: true
google_plus_one_size: medium

# Google Plus Profile
# Hidden: No visible button, just add author information to search results
googleplus_user:
googleplus_hidden: false

# Pinboard
pinboard_user:
pinboard_count: 3

# Delicious
delicious_user:
delicious_count: 3

# Disqus Comments
disqus_short_name: 'arresteddevops'
disqus_show_comment_count: true

# Google Analytics
google_analytics_tracking_id: 'UA-45939822-1'

# Facebook Like
facebook_like: true
