<ul class="main-navigation">
  <li><a href="{{ root_url }}/"><i class="fa fa-home fa-2x"></i></a></li>
  <li><a href="{{ root_url }}/archives"><i class="fa fa-calendar fa-2x"></i> Archives</a></li>
   <li><a href="{{ root_url }}/about"><i class="fa fa-question fa-2x"></i> About</a></li>
   <li><a href="{{ root_url }}/contact"><i class="fa fa-envelope-o fa-2x"></i> Contact</a></li>
   <li><a href="{{ root_url }}/blog/categories/podcasts/"><i class="fa fa-microphone fa-2x"></i> Shows</a></li>

</ul>
